/* .mainContainer{
    display: flex;
}

.header {
    display: flex;
    width: 100%;
    overflow: auto;
}

.logo {
    height: 16px;
    width: 108px;
}

  /* Navigation links */
  .navigationlink a {
    float: left;
    padding: 12px;
    text-decoration: none;
    font-size: 17px;
    width: 25%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
  }

  .getstarted-btn{
      width: 120px;
      height: 47px;
      background-color: #7854F7;
      color: #FFFFFF;
      border-radius: 12px;
  } */

  /* .navigation-right {
      float: right;
  } */

  .navlist {
    /* background-color: #0074D9; */
    position: absolute;
    width: 100%;
}
       
/* styling navlist anchor element */
.navlist a {
    float:left;
    display: block;
    /* color: #f2f2f2; */
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
}
.navlist-right{
    float:right;
}
.searchicon{
    height: 16px;
    width: 16px;
    margin-left: 16px;
}